<div id="<%= dom_id manager %>">
  <p>
    <strong>Nome:</strong>
    <%= manager.nome %>
  </p>

  <p>
    <strong>Nascimento:</strong>
    <%= manager.nascimento %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= manager.Store_id %>
  </p>

</div>
