<div id="<%= dom_id contact %>">
  <p>
    <strong>Tipo:</strong>
    <%= contact.tipo %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= contact.valor %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= contact.Store_id %>
  </p>

</div>
